@charset "utf-8";
/*Css Document*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font: inherit;
    overflow-x: hidden;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a {
    background: transparent;
    outline: none;
}

a:active, a:hover {
    outline: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto \9;
    -ms-interpolation-mode: bicubic;
}

img.inherit {
    max-width: inherit;
    *width: auto;
}

table, tr, td {
    max-width: 100%;
    width: auto \9;
}

.video embed, .video object, .video iframe {
    width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    font-size: 1em;
}


*:before, *:after, .sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.ul, ul.list, ul.grid {
    margin: 0;
    padding: 0;
}

dl dt, dl dd, ul li, ol li {
    list-style: none;
}

dl.grid dt, ul.grid li {
    float: left;
}

.opacity-9 {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.opacity-8 {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.opacity-7 {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.opacity-6 {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.opacity-5 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.opacity-4 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.opacity-3 {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.opacity-2 {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.opacity-1 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.img-gray {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.img-circle {
    border-radius: 50%;
}

.img-blur {
    filter: url(blur.svg#blur);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}

.en-font {
    font-family: Arial, Verdana, sans-serif;
}

.coverBg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left, .fl {
    float: left;
}

.right, .fr {
    float: right;
}

.hidden, .r-hidden {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
}

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.clearfix:after, ul.grid:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

/*如果有浮动，给浮动元素父级元素加上clearfix类即可清除浮动*/
.clearfix, ul.grid {
    zoom: 1;
}

.transition {
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.transition-delay {
    -webkit-transition: all 0.4s ease-in 0.4s;
    -moz-transition: all 0.4s ease-in 0.4s;
    -o-transition: all 0.4s ease 0.4s;
    -ms-transition: all 0.4s ease-in 0.4s;
    transition: all 0.4s ease-in 0.4s;
}

h1, .h1 {
    font-size: 33px;
}

h2, .h2 {
    font-size: 27px;
}

h3, .h3 {
    font-size: 23px;
}

h4, .h4 {
    font-size: 17px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

p {
    margin: 10px 0;
}

@font-face {
    font-family: lighterFont;
    src: url('../font/FZLTCXHJW.ttf');
}


body {
    color: #000; /*整站默认颜色*/
    font-size: 12px; /*整站默认字体大小*/
    line-height: 1.5;
    font-family: Microsoft YaHei, Arial, Verdana, sans-serif;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px; /*PC端，中间主体宽度*/
}

.reset {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}

a {
    color: #000; /*整站a连接默认颜色*/
    text-decoration: none;
}

a:hover, a:focus {
    color: #31833e; /*整站a连接移入默认颜色*/
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 92%;
    }
}


/*=========前面是reset.css，不建议删除；下面的是你自己的全局css=========*/
#header {
    background: #fff;
    color: #000;
}

#header .logo {
    font-size: 20px;
    float: left;
    line-height: 60px;
    height: 60px;
}

#header .logo a {
    color: #000;
}

#header .logo img {
    height: 60px;
}

#Menu {
    float: right;
    display: flex;
}

#Menu  .global-search form{
    position: relative;
    top: 17.5px;
}

#Menu  .global-search form input {
    height: 25px;
}

#Menu  .global-search form i.layui-icon {
    position: absolute;
    right: 11px;
    top: 1px;
    color: #777;
    cursor: pointer;
}

#Menu .e-mail {
    line-height: 60px;
    padding-left: 20px;
}

#Menu .e-mail a {
    font-size: 16px;
}

#Menu .layui-nav {
    background: none;
}

#Menu .layui-nav .layui-nav-item > a {
    color: #000;
}

#Menu .layui-nav .layui-this {
    background-color: #436caa;
    color: #fff;
}

#Menu .layui-nav .layui-nav-item:hover a{
    background-color: #436caa;
    color: #fff;
}

#Menu .layui-nav .layui-this a {
    color: #fff;
}

#Menu .layui-nav .layui-this::after, #Menu .layui-nav-bar, #Menu .layui-nav-tree .layui-nav-itemed::after {
    display: none;
}

#mMenu {
    display: none;
}

#Menu div.layui-nav-child {
    top: 60px;
    background-color: rgba(2, 2, 2, 0.5294117647058824);
    box-shadow: none;
    border: none;
}

#Menu div.layui-nav-child dd a {
    background: none !important;
    color: #fff;
}

#Menu div.layui-nav-child dd.level3 a {
    font-size: 12px;
}

#Menu .layui-show {
    display: flex !important;
}

#header .menuBar {
    height: 70px;
    cursor: pointer;
    float: right;
    display: none;
}

#header .menuBar ul {
    padding: 30px 0 0 0;
}

#header .menuBar .bar_line {
    width: 17px;
    height: 2px;
    background: #000;
    margin-bottom: 3px;
    -webkit-transition: -webkit-transform .6s, opacity .3s;
    transition: transform .6s, opacity .3s;
    border-radius: 1px;
}

#header.menu_close .menuBar .bar_line.bar_top {
    -webkit-transform: rotate(39deg);
    -ms-transform: rotate(39deg);
    transform: rotate(38deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

#header.menu_close .menuBar .bar_line.bar_mid {
    opacity: 0;
}

#header.menu_close .menuBar .bar_line.bar_foot {
    -webkit-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    transform: rotate(-38deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

#header .menuBar:hover .bar_line {
    background: #000;
}

#footer {
    margin-top: 40px;
    border-top: 2px solid #f6a800;
    text-align: center;
}

#footer .about-us-links, #footer .foot {
    text-align: center;
    line-height: 24px;
}

#footer .about-us-links {
    background-color: #dfdfdf;
    padding: 20px 0;
}

#footer h4 {
    color: #666666;
    text-decoration: none;
    padding: 12px 0;
}

#footer a {
    color: #666666;
    text-decoration: none;
    font-size: 14px;
}

#footer a.current {
    border-bottom: 2px solid #eeaa50;
    padding-bottom: 7px;
}

#footer a:hover {
    color: #31833e;
}

#footer .about-us-links em {
    font-style: normal;
    margin: 0 25px;
    color: #999;
}

#footer .foot {
    padding: 12px 0;
    background-color: #636363;
    color: #fff;
}

#footer .foot span {
    margin-right: 15px;
}

#footer .foot a {
    color: #fff;
}

.title-ext-header {
    height: 50px;
    line-height: 50px;
}

.title-ext-header.header-left {
    background-color: #dfdfdf;
}

.title-ext-header.header-right {
    background-color: #446baa;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#insider .menu-summary {
    padding: 2rem 1rem 0 0;
    text-align: justify;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #222;
}

#insider .right-form {
    border-left: 1px inset rgba(223, 223, 223, 0.2);
}

.cms_custom_form form {
    padding: 2rem 0;
}

#cms_supplier_certification form .layui-form-textarea .layui-form-textarea-label {
    width: 100%;
    text-align: left;
}

#cms_supplier_certification form .layui-form-textarea .layui-input-block{
    width: 97%;
    margin: 0 15px;
}

#cms_supplier_certification form .layui-form-item .layui-input-inline {
    margin-left: 20px;
}

.form-multi-text .layui-input-inline{
    margin-left: 0!important;
    margin-right: 0 !important;
}

.form-multi-text .layui-form-mid {
    margin-right: 0!important;
}

.full-content-with-nothing .layui-carousel {
    display: none;
}

.full-content-with-nothing div.layui-container {
    max-width: 100%;
    padding: 0;
}

.full-content-with-nothing div.layui-container #insider_content {
    padding: 0;
}

.full-content-with-nothing div.layui-container #insider_content .location {
    display: none;
}

.full-content-with-nothing div.layui-container #insider_content .editor_content p {
    margin: 0;
}

.full-content-with-nothing div.layui-container #insider_content .editor_content img{
    width: 100% !important;
}

.full-content-with-nothing #footer {
    margin: 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #Menu {
        display: none;
    }

    #header .menuBar {
        display: block;
    }

    #mMenu {
        position: absolute;
        width: 100%;
        background: #393D49;
        z-index: 1;
        top: 70px;
        left: 0;
        opacity: 0.9;
        padding: 20px 0;
        display: none;
    }

    #mMenu ul li {
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    #mMenu ul li a {
        color: #fff;
    }

    #header.menu_close #mMenu {
        display: block;
    }

    #footer {
        margin-top: 4%;
    }

    #footer .link, #footer .foot {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .layui-carousel-arrow {
        opacity: 1;
    }

    #footer .foot {
        padding: 1rem 2rem;
        text-align: center;
        color: #686868;
        background-color: #dfdfdf;
        border-top: 1px solid #f6a800;
    }

    #footer .foot span {
        margin-right: 0;
    }

    #footer .foot span.address {
        display: block;
    }

    .mobile-base .layui-colla-icon {
        left: auto;
        right: 15px;
    }

    .mobile-base {
        background-color: #dfdfdf;
        padding: 0 0.5rem;
    }

    .mobile-base .layui-card {
        background: none;
    }

    .mobile-base .layui-card-header {
        text-align: center;
        height: auto;
        line-height: normal;
        border-bottom: none;
        padding: 0.5rem 0 1rem 0;
    }

    .mobile-base .layui-card-header .h-title {
        font-size: 1.2rem;
    }

    .mobile-base .layui-card-header h3 {
        line-height: 10px;
    }

    .mobile-base .layui-card-header .ex_title {
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .mobile-base .layui-card-body {
        background-color: #fff;
        padding: 2rem 1rem;
    }

    .mobile-base .layui-card-body .comm_content {
        border-bottom: none;
    }

    .mobile-base .hidden {
        display: none;
    }

    #footer {
        margin-top: 0;
    }

    #cms_supplier_certification .layui-col-md4 .title-ext-header {
        display: none;
    }

    #cms_supplier_certification .layui-col-md4 .menu-summary {
        padding-bottom: 1rem;
    }

    #TalentPoolForm .layui-inline-custom {
        display: flex;
    }
}
