@charset "utf-8";

#banner a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#Index {
    margin-top: 46px;
}

#Index .about {
    border: 1px solid #dddddd;
}

#Index .item_tit {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #dddddd;
    padding: 0 20px;
}

#Index .item_tit a {
    font-size: 1.2rem;
    text-transform: uppercase;
}

#Index .item_con {
    line-height: 30px;
    overflow: hidden;
    padding: 10px 15px 0;
}

#Index .item_con ul.layui-tab-title li {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px dotted #f1f1f1;
    background-color: #ddd;
}

#Index .item_con ul li span {
    float: right;
}

#Index .news {
    border: 1px solid #dddddd;
}

.carousel-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(221, 221, 221, 0.19);
}

.carousel-bottom .carousel-bottom-content {
    width: 50%;
    margin: 0 auto;
}

.content-0,
.content-1,
.content-2,
.content-3 {
    padding: 0 1rem;
}

.content-0 .layui-card {
    background-color: #436caa;
}

.content-1 .layui-card {
    background-color: #f4920b;
}

.content-2 .layui-card {
    background-color: #c7574b;
}

.content-3 .layui-card {
    background-color: #194e90;
}

.carousel-bottom .carousel-bottom-content .layui-card-body {
    text-align: center;
    color: #fff;
}

.carousel-bottom .carousel-bottom-content .layui-card-body .menu-title {
    font-size: 15px;
    margin-top: 1.25rem;
}

.carousel-bottom .carousel-bottom-content .layui-card-body .menu-title-ex {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.layui-card-body a{
    position: static !important;
    width: auto !important;;
    height: 25px !important;
    line-height: 25px;
    margin: 1.5rem 0 1rem 0;
}

@media screen and (max-width: 768px) {
    #Index {
        margin-top: 0;
    }

    #Index .about, #Index .news {
        width: auto;
        float: none;
        margin-top: 4%;
    }

    #Index .item_con {
        height: auto;
    }

    #Index .about .item_con {
        padding-bottom: 10px;
    }

    #Index .item_con ul li {
        height: 34px;
        line-height: 34px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-bottom {
        position: relative;
    }

    .carousel-bottom .carousel-top-content {
        padding: 1rem 1.5rem;
        letter-spacing: 1px;
        line-height: 22px;
        background-color: #efefef;
    }

    .carousel-bottom .carousel-bottom-content {
        width: 100%;
        display: inline-block;
        background-color: #c5c5c5;
        padding: 2rem 0 3.5rem 0;
    }

    .carousel-bottom .carousel-bottom-content .carousel-bottom-content-title {
        text-align: center;
        padding: 0 0 2rem 0;
    }

    .carousel-bottom .carousel-bottom-content .carousel-bottom-content-title span {
        text-transform: uppercase;
        font-weight: bolder;
    }

    .content-0 {
        padding: 0 0.5rem 0.5rem 1rem;
    }

    .content-1 {
        padding: 0 1rem 0.5rem 0.5rem;
    }

    .content-2 {
        padding: 0.5rem 0.5rem 0 1rem;
    }

    .content-3 {
        padding: 0.5rem 1rem 0 0.5rem;
    }

    .content-0 .layui-card, .content-1 .layui-card, .content-2 .layui-card, .content-3 .layui-card {
        border-radius: 15px;
    }

    .layui-card-body a {
        font-size: 10px;
        margin: 1.5rem 0 3.5rem 0;
    }
}
