{extends file='../header_footer.html'}

{block name=content}
<div class="layui-carousel" id="banner">
    <div carousel-item>
    {foreach $ad.index_banner.Ad as $each}
        <div>
            <a href="{url($each.link)}" class="coverBg" style="background-image: url({$absroot}{$each.image});">
                <img  src="{$absroot}{$each.image}" class="hidden" alt="{$each.title}"/>
            </a>
        </div>
    {/foreach}
  </div>
    <div class="layui-row carousel-bottom">
        <div class="carousel-bottom-content">
            {foreach $product_service_ids as $key => $menu_id}
                <div class="layui-col-md3 content-{$key}">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="menu-title">{menu($menu_id,'title')}</div>
                            <div class="menu-title-ex">{menu($menu_id,'title_alias')}</div>
                            <a target="_blank" href="{call menu_link id=$menu_id}" class="layui-btn layui-btn-radius layui-btn-primary">了解更多></a>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#banner'
    ,width: '100%' //设置容器宽度
    ,height:'{$ad.index_banner.height}'
    //,arrow: 'always' //始终显示箭头
    ,anim: 'fade' //切换动画方式
  });
});

</script>


<div id="Index" class="desktop">
    <div class="wrap clearfix">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="item_tit"><a href="{call menu_link id=8}">{if !empty(menu(8, 'ex_title'))}{menu(8, 'ex_title')}{else}{menu(8, 'title')}{/if}</a></div>
            <div class="item_con">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        {foreach $indexNews['ids'] as $key => $menu_id}
                            <li class="{if $key==0}layui-this{/if}">{menu($menu_id, 'title')}</li>
                        {/foreach}
                    </ul>
                    <div class="layui-tab-content">
                        {foreach $indexNews['articals'] as $key => $articals}
                            <div class="layui-tab-item {if $key==0}layui-show{/if}">
                                <ul class="list cms_case1 fallsList">
                                    {foreach $articals as $artical}
                                    <li>
                                        <span>[{$artical.date|date_format:'Y-m-d'}]</span>
                                        <a target="_blank" href="/article/{$artical.id}.html">{$artical.title}</a>
                                    </li>
                                    {/foreach}
                                    <li>
                                        <a target="_blank" href="{call menu_link id=$artical.menu_id}">MORE</a>
                                    </li>
                                </ul>
                            </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="item_con">
                {if !empty(setting('index_map_image'))}
                <a href="">
                    <img src="/{setting('index_map_image')}"/>
                </a>
                {/if}
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="item_con">
                <video controls>
                    <source src="/{setting('index_video')}" type="video/mp4">
                    您的浏览器不支持 HTML5 video 标签。
                </video>
            </div>
        </div>
    </div>
</div>
{/block}
