{extends file="lists.html"}
{block name=function}
    {function name=detail_elem_show mdl=null field=null val=null col=null sub_elem=null}
    	{$local.show=$info.show|default:$mdls[$mdl]->form.$field.show|default:$val}
        {$local.temp=$item}
        {if isset($col.options[$val])}{$local.show=$col.options[$val]}{/if}
        {$local.temp.$field=$local.show}
        {string_insert($local.show, $local.temp)}
    {/function}
    {function name=detail_elem_text mdl=null field=null val=null col=null sub_elem=null}
    	{call name=list_elem_text mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
    {/function}
    {function name=detail_elem_filesize mdl=null field=null val=null col=null sub_elem=null}
    	{call name=list_elem_filesize mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
    {/function}
    {function name=detail_elem_query_field mdl=null field=null val=null col=null sub_elem=null}
        {call name=list_elem_query_field mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
    {/function}
    {function name=detail_elem_password mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_password mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_tag mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_tag mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_date mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_date  mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_datetime mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_datetime mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_year mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_year mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_month mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_month mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_time mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_time mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_color mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_color mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_options mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_options mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}
    {function name=detail_elem_select mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_options mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}
    {function name=detail_elem_blob mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_blob mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}
    {function name=detail_elem_file mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_file mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}
    {function name=detail_elem_checker mdl=null field=null val=null col=null sub_elem=null}
		{if $val}√{else}╳{/if}
	{/function}
    {function name=detail_elem_image mdl=null field=null val=null col=null sub_elem=null}
		{if $val}<a  href="javascript:void(0);"><img src="{call furl url=$item[$info.image.thumb.field|default:'thumb']|default:$val}"/></a>{else}无{/if}
	{/function}
    {function name=detail_elem_call mdl=null field=null val=null col=null sub_elem=null}
		{call name='detail_call_'|cat:$sub_elem mdl=$mdl field=$field val=$val item=$item}
	{/function}
    {function name=detail_elem_edit mdl=null field=null val=null col=null sub_elem=null}{strip}
        {$val}
	{/strip}{/function}
    {function name=detail_elem_counter mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_counter mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_multi_image mdl=null field=null val=null col=null sub_elem=null}
		{call name=list_elem_multi_image mdl=$mdl field=$field val=$val col=$col sub_elem=$sub_elem}
	{/function}

    {function name=detail_elem_json mdl=null field=null val=null col=null sub_elem=null}
		{if is_json_validate($val)}
<pre class="layui-code" lay-title="JSON">

{$val}
</pre>
        {/if}
	{/function}

        {function name=detail_elem_code mdl=null field=null val=null col=null sub_elem=null}

		{if $val}
<pre class="layui-code" lay-title="{$sub_elem|default:'Code'}">
{$val}
</pre>
        {/if}
	{/function}

    {function name=detail_elem_assoc mdl=null field=null val=null col=null sub_elem=null}
       {$show_val = $val}
       {if isset($item[$col.foreign.model][$col.foreign.field])}
       {$show_val = $item[$col.foreign.model][$col.foreign.field]}
       {else}
       {if $local_mdl==$col.foreign.model and $val==$data.id}
       {$show_val=$data[$col.foreign.field]}
       {/if}
       {/if}
       {$show_val}
	{/function}

    {function name=detail_base  field=null item=null info=null mdl=null}
        {$info.field = $field}
        {$detail_type = -1}
        {if isset($info.detail)}
            {$detail_type=$info.detail}
        {else}
            {if isset($info.list) and $info.list}
            {$detail_type=$info.list}
            {/if}
        {/if}
        {if $detail_type}
            {if $detail_type == -1}
                {if isset($info.foreign)}
                {$detail_type='assoc'}
                {else}
                {$detail_type='show'}
                {/if}
            {/if}

            {$local.list_type=plugin_split($detail_type)}
            {if $local.list_type[0]===null}
            	{$local.list_type[0]=$local.list_type[1]}
                {$local.list_type[1]=null}
            {/if}
            {if $local.list_type[0] == 'assoc'}
                {$assoc_info = plugin_split($info.foreign)}
                {$info.foreign=[]}
                {$info.foreign.model = $assoc_info[0]}
                {$info.foreign.field = $assoc_info[1]}
            {/if}

            {$local.func='detail_elem_'|cat:$local.list_type[0]}
            {call name=$local.func mdl=$mdl field=$field val=$item[$field|default:$field] item=$item col=$info sub_elem=$local.list_type[1]}
        {/if}
    {/function}

{$smarty.block.child}

{/block}

{block name=base_top}

{/block}

{block name=base_content}
{$local_mdl=$mdl}
<div class="woo-detail">
    <table class="layui-table">
        <tbody>
            {foreach $mdls.$mdl->form as $field => $info}
            {if !isset($data.$field)}{continue}{/if}
            {if isset($info.detail) and $info.detail===0}{continue}{/if}
            <tr>
              <th class="detail-field-title">{$info.name}</th>
              <td>{call detail_base field=$field item=$data info=$info mdl=$mdl}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    {if $detail_with}
    {foreach $detail_with as $model => $info}
        {if empty($mdls.$model->form) || empty($data.$model)}{continue}{/if}
        {$assoc_type = $mdls.$mdl->assoc.$model.type}
        {if !in_array($assoc_type, ['hasOne', 'belongsTo', 'hasMany'])}
            {continue}
        {/if}
        {$assoc_data = [$data.$model]}
        {if $assoc_type == 'hasMany'}
            {$assoc_data = $data.$model}
        {/if}
        <div class="detail-title">关联{$mdls.$model->cname}：</div>
        {foreach $assoc_data as $item}
        <table class="layui-table assoc-table">
            <tbody>
                {foreach $item as $field => $value}
                {if !isset($mdls.$model->form.$field)}{continue}{/if}
                {$info = $mdls.$model->form.$field}
                {if isset($info.detail) and $info.detail===0}{continue}{/if}
                <tr>
                  <th class="detail-field-title">{$info.name}</th>
                  <td>{call detail_base field=$field item=$item info=$info mdl=$model}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {/foreach}
    {/foreach}
    {/if}
</div>
{/block}

{block name=script}
<script type="text/javascript">
layui.use('code', function(){ //加载code模块
  layui.code({
    about: false
  }); //引用code方法
});
</script>
{/block}
