{extends file="./base.html"}

{block name="head"}
<div id="header">
    <div class="wrap clearfix">
        <div class="logo">
            <a href="{call index_link}">
                {if !empty(setting('header_logo'))}
                    <img src="/{setting('header_logo')}"/>
                {else}
                    九谷科技
                {/if}
            </a>
        </div>
        <div id="Menu">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item {if $is_index}layui-this{/if}"><a href="{call index_link}">首页</a></li>
                {foreach menu('nav') as $level1_id=>$level1}
                <li class="layui-nav-item {if $top_id==$level1_id}layui-this{/if}">
                    <a href="{call menu_link id=$level1_id}">{menu($level1_id,'title')}</a>
                    {if $level1}
                    <div class="layui-nav-child">
                        {foreach $level1 as $level2_id=>$level2}
                            <dl>
                                <dd>
                                    <a href="{call menu_link id=$level2_id}">{menu($level2_id,'title')}</a>
                                </dd>
                                {if $level2}
                                {foreach $level2 as $level3_id=>$level3}
                                <dd class="level3">
                                    <a href="{call menu_link id=$level2_id}">{menu($level3_id,'title')}</a>
                                </dd>
                                {/foreach}
                                {/if}
                            </dl>
                        {/foreach}
                    </div>
                    {/if}
                </li>
                {/foreach}
            </ul>
            <div class="global-search">
                <form action="{call search_link mdl='Article'}" method="post">
                    <input  type="text" placeholder="请输入关键词" name="kw" class="layui-input"/>
                    <i class="layui-icon layui-icon-search"></i>
                </form>
            </div>
        </div>
        <div class="menuBar" >
            <ul class="list">
                <li class="bar_line bar_top"></li>
                <li class="bar_line bar_mid"></li>
                <li class="bar_line bar_foot"></li>
            </ul>
        </div>
        <div id="mMenu">
            <ul class="list">
                <li class="{if !$top_id}current{/if}"><a href="{call index_link}">首页</a></li>
                {foreach menu('nav') as $level1_id=>$level1}
                <li class="{if $top_id==$level1_id}current{/if}">
                    <a href="{call menu_link id=$level1_id}">{menu($level1_id,'title')}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="foot"}
<div id="footer">
    <div class="layui-row">
        <div class="about-us-links">
            <h4>{menu($all_about_us_ids['about_us_id'],'title')}</h4>
            <div class="link">
                {foreach $all_about_us_ids['about_us_children_id'] as $menu_id}{strip}
                <a class="{if $menu_id==$menu_data.id}current{/if}" href="{call menu_link id=$menu_id}" target="_blank">{menu($menu_id,'title')}</a>{if !$menu_id@last}<em></em>{/if}
                {/strip}{/foreach}
            </div>
        </div>
        <div class="foot en-font">
            <span>传真：{setting('site_fax')}</span>
            <span>电话：{setting('tel')}</span>
            <span>公司地址：{setting('address')}</span>
            <span>{setting('corp_title')}</span>
            <span><a target="_blank" href="http://beian.miit.gov.cn">{setting('icp')}</a></span>
        </div>
    </div>
</div>
<script>
layui.use('element', function(){
    var element = layui.element;
});

$('.menuBar').click(function(){
    $('#header').toggleClass('menu_close');
})

$('.global-search .layui-icon-search').on('click', function () {
    $('.global-search form').submit();
});

</script>
{/block}
